<nav class="main-sidebar">
  <div class="main-sidebar-brand">
    <img src="/assets/logo/attendix-logo.svg" alt="Attendix" width="42" height="42" class="main-sidebar-logo" />
    <span class="mat-title-medium">WebAttendix</span>
  </div>
  <mat-nav-list>
    @for (route of allRoutes; track route.path) {
      <a mat-list-item class="main-sidebar-item" [routerLink]="route.path" [routerLinkActive]="'main-sidebar-item--active'">
        <mat-icon matListItemIcon size="small">{{ route.icon }}</mat-icon>
        <span matListItemTitle>{{ route.label }}</span>
      </a>
    }
  </mat-nav-list>

  <div class="main-sidebar-footer">
    <mat-nav-list>
      <mat-list-item role="listitem" (click)="logout()">
        <mat-icon matListItemIcon size="small">logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
</nav>
