<mat-dialog-content class="attendance-form-modal__content">
  <h2>{{ dialogData?.initialData ? 'Edit attendance configuration' : 'Add attendance configuration' }}</h2>
  <p>
    {{ dialogData?.initialData ? 'Update the details of the attendance configuration below.' : 'Create a new attendance configuration. Fill the form below to add it to the system.' }}
  </p>
  <app-attendance-form [initialData]="dialogData?.initialData ?? null" (formSubmitted)="onFormSubmitted($event)" (formCancelled)="onFormCancelled()" />
</mat-dialog-content>
