.dark-medium-contrast {
  --mat-sys-primary: rgb(185 226 255);
  --mat-sys-surface-tint: rgb(146 206 245);
  --mat-sys-on-primary: rgb(0 41 60);
  --mat-sys-primary-container: rgb(91 151 189);
  --mat-sys-on-primary-container: rgb(0 0 0);
  --mat-sys-secondary: rgb(204 223 238);
  --mat-sys-on-secondary: rgb(22 40 51);
  --mat-sys-secondary-container: rgb(129 147 161);
  --mat-sys-on-secondary-container: rgb(0 0 0);
  --mat-sys-tertiary: rgb(152 212 164);
  --mat-sys-on-tertiary: rgb(0 57 25);
  --mat-sys-tertiary-container: rgb(22 81 44);
  --mat-sys-on-tertiary-container: rgb(22 81 44);
  --mat-sys-error: rgb(255 210 204);
  --mat-sys-on-error: rgb(84 0 3);
  --mat-sys-error-container: rgb(255 84 73);
  --mat-sys-on-error-container: rgb(0 0 0);
  --mat-sys-background: rgb(16 20 23);
  --mat-sys-on-background: rgb(223 227 231);
  --mat-sys-surface: rgb(16 20 23);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(65 72 77);
  --mat-sys-on-surface-variant: rgb(215 221 228);
  --mat-sys-outline: rgb(172 179 185);
  --mat-sys-outline-variant: rgb(138 145 151);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(223 227 231);
  --mat-sys-inverse-on-surface: rgb(38 43 46);
  --mat-sys-inverse-primary: rgb(0 77 110);
  --mat-sys-primary-fixed: rgb(199 231 255);
  --mat-sys-on-primary-fixed: rgb(0 19 31);
  --mat-sys-primary-fixed-dim: rgb(146 206 245);
  --mat-sys-on-primary-fixed-variant: rgb(0 58 84);
  --mat-sys-secondary-fixed: rgb(210 229 245);
  --mat-sys-on-secondary-fixed: rgb(1 19 30);
  --mat-sys-secondary-fixed-dim: rgb(182 201 216);
  --mat-sys-on-secondary-fixed-variant: rgb(39 56 68);
  --mat-sys-tertiary-fixed: rgb(232 221 255);
  --mat-sys-on-tertiary-fixed: rgb(20 11 42);
  --mat-sys-tertiary-fixed-dim: rgb(204 192 233);
  --mat-sys-on-tertiary-fixed-variant: rgb(57 49 81);
  --mat-sys-surface-dim: rgb(16 20 23);
  --mat-sys-surface-bright: rgb(65 69 73);
  --mat-sys-surface-container-lowest: rgb(4 8 11);
  --mat-sys-surface-container-low: rgb(26 30 34);
  --mat-sys-surface-container: rgb(36 40 44);
  --mat-sys-surface-container-high: rgb(47 51 55);
  --mat-sys-surface-container-highest: rgb(58 62 66);
}
