.dark-high-contrast {
  --mat-sys-primary: rgb(227 242 255);
  --mat-sys-surface-tint: rgb(146 206 245);
  --mat-sys-on-primary: rgb(0 0 0);
  --mat-sys-primary-container: rgb(142 202 241);
  --mat-sys-on-primary-container: rgb(0 13 22);
  --mat-sys-secondary: rgb(227 242 255);
  --mat-sys-on-secondary: rgb(0 0 0);
  --mat-sys-secondary-container: rgb(178 197 212);
  --mat-sys-on-secondary-container: rgb(0 13 22);
  --mat-sys-tertiary: rgb(245 237 255);
  --mat-sys-on-tertiary: rgb(0 0 0);
  --mat-sys-tertiary-container: rgb(200 189 229);
  --mat-sys-on-tertiary-container: rgb(14 6 36);
  --mat-sys-error: rgb(255 236 233);
  --mat-sys-on-error: rgb(0 0 0);
  --mat-sys-error-container: rgb(255 174 164);
  --mat-sys-on-error-container: rgb(34 0 1);
  --mat-sys-background: rgb(16 20 23);
  --mat-sys-on-background: rgb(223 227 231);
  --mat-sys-surface: rgb(16 20 23);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(65 72 77);
  --mat-sys-on-surface-variant: rgb(255 255 255);
  --mat-sys-outline: rgb(234 241 247);
  --mat-sys-outline-variant: rgb(189 195 202);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(223 227 231);
  --mat-sys-inverse-on-surface: rgb(0 0 0);
  --mat-sys-inverse-primary: rgb(0 77 110);
  --mat-sys-primary-fixed: rgb(199 231 255);
  --mat-sys-on-primary-fixed: rgb(0 0 0);
  --mat-sys-primary-fixed-dim: rgb(146 206 245);
  --mat-sys-on-primary-fixed-variant: rgb(0 19 31);
  --mat-sys-secondary-fixed: rgb(210 229 245);
  --mat-sys-on-secondary-fixed: rgb(0 0 0);
  --mat-sys-secondary-fixed-dim: rgb(182 201 216);
  --mat-sys-on-secondary-fixed-variant: rgb(1 19 30);
  --mat-sys-tertiary-fixed: rgb(232 221 255);
  --mat-sys-on-tertiary-fixed: rgb(0 0 0);
  --mat-sys-tertiary-fixed-dim: rgb(204 192 233);
  --mat-sys-on-tertiary-fixed-variant: rgb(20 11 42);
  --mat-sys-surface-dim: rgb(16 20 23);
  --mat-sys-surface-bright: rgb(76 81 84);
  --mat-sys-surface-container-lowest: rgb(0 0 0);
  --mat-sys-surface-container-low: rgb(28 32 36);
  --mat-sys-surface-container: rgb(45 49 53);
  --mat-sys-surface-container-high: rgb(56 60 64);
  --mat-sys-surface-container-highest: rgb(67 71 75);
}
