.light-high-contrast {
  --mat-sys-primary: rgb(0 48 69);
  --mat-sys-surface-tint: rgb(33 100 135);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(0 78 111);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(28 46 58);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(58 75 88);
  --mat-sys-on-secondary-container: rgb(255 255 255);
  --mat-sys-tertiary: rgb(47 39 71);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(77 68 102);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(96 0 4);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(152 0 10);
  --mat-sys-on-error-container: rgb(255 255 255);
  --mat-sys-background: rgb(246 250 254);
  --mat-sys-on-background: rgb(24 28 32);
  --mat-sys-surface: rgb(246 250 254);
  --mat-sys-on-surface: rgb(0 0 0);
  --mat-sys-surface-variant: rgb(221 227 234);
  --mat-sys-on-surface-variant: rgb(0 0 0);
  --mat-sys-outline: rgb(38 45 50);
  --mat-sys-outline-variant: rgb(67 74 79);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(45 49 53);
  --mat-sys-inverse-on-surface: rgb(255 255 255);
  --mat-sys-inverse-primary: rgb(146 206 245);
  --mat-sys-primary-fixed: rgb(0 78 111);
  --mat-sys-on-primary-fixed: rgb(255 255 255);
  --mat-sys-primary-fixed-dim: rgb(0 55 79);
  --mat-sys-on-primary-fixed-variant: rgb(255 255 255);
  --mat-sys-secondary-fixed: rgb(58 75 88);
  --mat-sys-on-secondary-fixed: rgb(255 255 255);
  --mat-sys-secondary-fixed-dim: rgb(35 53 65);
  --mat-sys-on-secondary-fixed-variant: rgb(255 255 255);
  --mat-sys-tertiary-fixed: rgb(77 68 102);
  --mat-sys-on-tertiary-fixed: rgb(255 255 255);
  --mat-sys-tertiary-fixed-dim: rgb(54 46 78);
  --mat-sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --mat-sys-surface-dim: rgb(181 185 190);
  --mat-sys-surface-bright: rgb(246 250 254);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(238 241 246);
  --mat-sys-surface-container: rgb(223 227 231);
  --mat-sys-surface-container-high: rgb(209 213 217);
  --mat-sys-surface-container-highest: rgb(195 199 203);
}
