.light {
  --mat-sys-primary: rgb(33 100 135);
  --mat-sys-surface-tint: rgb(33 100 135);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(199 231 255);
  --mat-sys-on-primary-container: rgb(0 76 108);
  --mat-sys-secondary: rgb(79 97 110);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(210 229 245);
  --mat-sys-on-secondary-container: rgb(55 73 85);
  --mat-sys-tertiary: rgb(98 89 124);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(232 221 255);
  --mat-sys-on-tertiary-container: rgb(74 66 99);
  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 218 214);
  --mat-sys-on-error-container: rgb(147 0 10);
  --mat-sys-background: rgb(246 250 254);
  --mat-sys-on-background: rgb(24 28 32);
  --mat-sys-surface: rgb(246 250 254);
  --mat-sys-on-surface: rgb(24 28 32);
  --mat-sys-surface-variant: rgb(221 227 234);
  --mat-sys-on-surface-variant: rgb(65 72 77);
  --mat-sys-outline: rgb(113 120 126);
  --mat-sys-outline-variant: rgb(193 199 206);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(45 49 53);
  --mat-sys-inverse-on-surface: rgb(238 241 246);
  --mat-sys-inverse-primary: rgb(146 206 245);
  --mat-sys-primary-fixed: rgb(199 231 255);
  --mat-sys-on-primary-fixed: rgb(0 30 46);
  --mat-sys-primary-fixed-dim: rgb(146 206 245);
  --mat-sys-on-primary-fixed-variant: rgb(0 76 108);
  --mat-sys-secondary-fixed: rgb(210 229 245);
  --mat-sys-on-secondary-fixed: rgb(11 29 41);
  --mat-sys-secondary-fixed-dim: rgb(182 201 216);
  --mat-sys-on-secondary-fixed-variant: rgb(55 73 85);
  --mat-sys-tertiary-fixed: rgb(232 221 255);
  --mat-sys-on-tertiary-fixed: rgb(30 22 53);
  --mat-sys-tertiary-fixed-dim: rgb(204 192 233);
  --mat-sys-on-tertiary-fixed-variant: rgb(74 66 99);
  --mat-sys-surface-dim: rgb(215 218 223);
  --mat-sys-surface-bright: rgb(246 250 254);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(241 244 249);
  --mat-sys-surface-container: rgb(235 238 243);
  --mat-sys-surface-container-high: rgb(229 232 237);
  --mat-sys-surface-container-highest: rgb(223 227 231);
}
