<div class="attendees-page">
  <div class="attendees-page-header">

    <div class="attendees-page-header-actions">
      @if (!isArchived()) {
        @if (selectedCount() > 0) {
          <button
            mat-stroked-button
            type="button"
            class="attendees-page-header-actions__bulk-delete"
            [disabled]="bulkDeleteLoading()"
            (click)="bulkDeleteAttendees()"
          >
            <mat-icon>delete</mat-icon>
            Delete ({{ selectedCount() }})
          </button>
        }
        <button mat-stroked-button color="primary" type="button" (click)="openImport()">
          <mat-icon>group_add</mat-icon>
          Import from Group
        </button>
        <button mat-flat-button color="primary" type="button" (click)="openCreate()">
          Add Attendee
        </button>
      }
    </div>
  </div>

  <div class="attendees-page-content">
    <app-attendee-table [attendanceId]="attendanceId()"></app-attendee-table>
  </div>
</div>