<div class="attendance-details-attendances-page">
  <div class="attendance-details-attendances-page-header">
    <div class="attendance-details-attendances-page-header-left">
    </div>

    <div class="attendance-details-attendances-page-header-right">
      <button matButton="filled" color="primary" type="button" (click)="openAddRecord()">
        Add Attendance Record
      </button>
    </div>
  </div>

  <div class="attendance-details-attendances-page-content">
    <app-attendance-details-table />  
  </div>
</div>