.attendance-details-attendances-page {
  padding: 1rem;
}

.attendance-details-attendances-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.attendance-details-attendances-page-header-left {
  display: flex;
  align-items: center;
}