<div class="groups-page">
  <div class="groups-page-header">
    <div class="page-header">
      <div class="page-header-top">
        <button mat-icon-button color="primary" type="button" (click)="navigateToGroups()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        @if (currentGroup()) {
          <div class="page-header-info">
            <div class="page-title">{{ currentGroup()?.name }}</div>
            <div class="page-description">{{ currentGroup()?.description }}</div>
          </div>
        } 
      </div>
    </div>

    <div class="groups-page-header-actions">
      <button matButton="tonal" color="primary" type="button" (click)="openEditGroup()">
        <mat-icon>edit</mat-icon>
        Edit Group
      </button>
      <button matButton="tonal" color="primary" type="button" (click)="openImportParticipant()">
        <mat-icon>upload</mat-icon>
        Import Group Members
      </button>
      <button matButton="filled" color="primary" type="button" (click)="openAddMember()">
        <mat-icon>add</mat-icon>
        Add new member
      </button>
    </div>
  </div>

  <div class="groups-page-content">
    <app-group-member-table />
  </div>
</div>